@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans",sans-serif;
    position: relative;
    height: 100vh;
}

.navPertama{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-around;
    width: 40rem;
}

.nav-links-1{
    display: flex;
    text-decoration: none;
    list-style: none;
    /* border: 2px solid yellow; */
    width: 25rem;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.nav-links-1 li a{
    text-decoration: none;
    color: white;
}

.nav-links-2{
    display: flex;
    text-decoration: none;
    list-style: none;
    /* border: 2px solid rgb(0, 217, 255); */
    width: 15rem;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: 500;
}

.nav-links-2 li a{
    text-decoration: none;
    color: white;
    align-items: center;
}

.logo a{
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.logo a :hover{
    color:rgb(255, 217, 0);
}

nav{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border: 2px solid blue; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    background-color: black; 
    opacity: 0.6;
    text-decoration: none;
}

nav .nav-links-1 li a:hover{
    color: rgb(255, 217, 0);
}

nav .nav-links-2 li a:hover{
    color: rgb(255, 217, 0);
}

.bg-photo{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image{
    position: absolute;
    z-index: 0;
    top: 2;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-1{
    /* z-index: 2; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* height: 30rem; */
    top: 25%;
    left: 20%;
    position: absolute;
    /* border: 2px solid blue; */
    color: white; 
    height: 20rem;
}

.container-1 h1{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 5px;
}

.container-1 h4{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.button{
    background-color: #e8ad2c;
    border: none;
    color: black;
    padding: 20px 72px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.the_story{
    position: absolute;
    /* border: 2px solid yellow; */
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .arrow{
    /* border: 2px solid skyblue; */
    width: 5rem;
    height: 3rem;
    position: relative;
    justify-content: center;
    left : 2%;
  }
 

.title{
    border: 2px solid blue;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    z-index: 5;
    top: 120%;
    left: 5%;
    position: absolute;
}

.title h1{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.title h2{
    font-size: 48px;
    font-weight: 500;
    color: white;
}

.bg-photo1{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.bg-image1{
    position: relative;
    z-index: -1;
    border: 2px solid skyblue;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.switch-left{
    border: 2px solid skyblue;
    
}

.pict1{
    border: 2px solid rgb(0, 253, 97);
    width: 70%;
    height: 70%;
}

.switch-right{
    border: 2px solid skyblue;
}

.display-pict{
    display: flex;
    position: absolute;
    border: 2px solid rgb(255, 0, 200);
    align-items: left;
    justify-content: inline-block;
    flex-direction: row;
    z-index: 5;
    top: 125%;
    left: 24%;
}

.title-feature{
    border: 2px solid blue;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    z-index: 5;
    top: 280%;
    left: 59%;
    position: absolute;
    border: 2px solid skyblue;
}

.title-feature h1{
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.title-feature h2{
    font-size: 48px;
    font-weight: 500;
    color: white;
}

.bg-photo2{
    width: 100%;
    height: 100%;
    
}

.bg-image2{
    position: absolute;
    z-index: -1;
    top: 2;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    position: relative;
    border: 2px solid rgb(56, 240, 0);
}


/* Responsive Breakpoint*/

/*ukuran tablet*/
@media screen and (max-width: 991px){
    
}